// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant-box {
  box-shadow: 1px 1px 3px black;
  margin-top: 20px;
  margin-bottom: 20px;
}
